@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0;
  padding: 0;
  background-color: #19191A;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}