@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono";
}

body {
  padding: 0;
  margin: 0;
  background-color: #19191a;
}

.example::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.callout {
  background-color: red;
}

.admin {
  background-color: orange;
}

@media screen and (min-width: 1191){
  h1 {
    font-size:  3rem;
    font-weight: bold;
  }  

  h2 {
    font-size:  2.25rem;
    font-weight: bold;
  }  

  h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h5 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1190) and (min-width: 601){
  h1 {
    font-size:  3rem;
    font-weight: bold;
  }  

  h2 {
    font-size:  2.25rem;
    font-weight: bold;
  }  

  h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h5 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 600){
  h1 {
    font-size:  2.25rem;
    font-weight: bold;
  }  

  h2 {
    font-size:  2rem;
    font-weight: bold;
  }  

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h5 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }
}
