@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono";
}

body {
  padding: 0;
  margin: 0;
  background-color: #19191a;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
